/*-------------- badges ------------*/
.bgs-course-intro{
    background-color: $magenta-men;
    margin-bottom: 6px;
    color: white;
}

.badge{
    cursor: pointer;
    img{
        width: 100%;
        max-width: 18px;
        height: auto;
    }
}